body {
    padding: 2em;
}

.register-container {
    padding: 1.5em;
    border-radius: 8px;
    background: rgba(0, 0, 88, 0.10);
    box-shadow: 0 0 0 1px #000049 inset;
    backdrop-filter: blur(12px);
}

.register-container :first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.register-container .profile-icon {
    background: rgba(0, 0, 0, 0.10);
    border-radius: 8px;
    width: 53px;
    height: 53px;
    position: relative;
    box-shadow: inset 0 0 0 1px rgba(51, 51, 52, 1.00);
    backdrop-filter: blur(12px);
}

.profile-icon > .user {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.upload-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 64px;
    background: #000614;
    padding: 16px;
    box-shadow: inset 0 0 0 1px rgba(51, 51, 52, 1.00);
    backdrop-filter: blur(12px);
}

.upload-btn > p {
    color: #e5e4e6;
    font-family: 'Satoshi-Regular', sans-serif;
    font-size: 14px;
}

.ellipse-26 {
    background: #010149;
    border-radius: 50%;
    width: 185px;
    height: 185px;
    position: relative;
    filter: blur(130px);
}